@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Outfit:wght@100..900&display=swap");

:root {
    --header-color: #1f282f;
    --main-color: #14181c;
    --footer-color: #2c3440;
    --muted-color: #99aabb;
    --accent-color: rgb(0, 172, 28);
    --accent-color-hover: rgba(0, 172, 28, 0.85);
    --accent-color-active: rgba(0, 172, 28, 0.65);
    --white-color: #fafafa;

    --title-font: "Noto Sans JP";
    --primary-font: "Outfit";
}

/* Basic CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    font-family: var(--primary-font);
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

/* Header */
header {
    background-color: var(--header-color);
    padding: 0.5rem 1.5rem;
}

.header-content {
    max-width: 1500px;
    margin: 0 auto;
}

#title {
    font-family: var(--title-font);
    color: var(--white-color);
}

/* Main */
main {
    flex: 1;
    padding: 0 1.5rem;
    color: var(--white-color);
    background-color: var(--main-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

#actions {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: end;
}

#add-book {
    font-weight: 600;
    border: none;
    cursor: pointer;
    padding: 0.6rem 1rem;
    border-radius: 0.2rem;
    color: var(--white-color);
    background-color: var(--accent-color);
    transition: background-color 0.2s ease;
}

#add-book:hover {
    background-color: var(--accent-color-hover);
}

#add-book:active {
    background-color: var(--accent-color-active);
}

#list {
    height: 400px;

    width: 100%;
    max-width: 1200px;
    border-radius: 0.2rem;
    padding: 3.5rem 1.5rem;
    border: 2px solid var(--footer-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

#empty-list-title {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
}

#empty-list-message {
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
    color: var(--muted-color);
}

@media (max-width: 768px) {
    #list {
        height: 350px;
    }
}

@media (max-width: 480px) {
    #list {
        height: 100%;
    }
}

/* Footer */
footer {
    background-color: var(--footer-color);
    padding: 0.5rem 1rem;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
footer,
.footer-link {
    font-size: 1rem;
    font-weight: 500;
    color: var(--muted-color);
}
